.login-container, .dashboard-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Input fields and buttons */
input[type="text"],
input[type="password"],
button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-group .btn {
    margin: 0 10px;
}

/* Links */
a {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.dashboard-box {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
    text-align: center;
}

/* Headers */
h2 {
    color: #333;
    margin-bottom: 20px;
}

h3 {
    color: #007bff;
    margin-top: 20px;
}

/* Activities list */
.activities ul {
    list-style-type: none;
    padding: 0;
}

.activities li {
    margin-bottom: 10px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

